body {
  font-family: "Anuphan", sans-serif;
  background: #25292E;
}

.palabraClave {
  color: #E87D85;
}

.operador {
  color: #D3747C;
  margin: 0 -7px;
  display: inline-block;
}

.delimitador {
  color: #F3AF7A;
  margin: 0 -7px;
  display: inline-block;
}

.comentario {
  color: #6C737C;
}

.string {
  color: #A7CAFA;
  margin-right: -7px;
  display: inline-block;
}

.numero {
  color: #87B6F9;
}

.identificador {
  color: #c3acf7;
}
